@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    ækjæljæjæjæljæljæjhkjnkj
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="HomeController" asp-action="GetTest">Test</a></li>
                </ul>
            </div>
        </div>
    </nav>
    sdhfsdjfhosjdfosjdfojsf
</body>
</html>
