<!DOCTYPE html>

@model List<Shared.Models.StockModel>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>
        Bootstrap Site
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script>
        $(document).ready(function ()
        {
            $(".btn.btn-success.btn-xs").click(function ()
            {
            jQuery["postBUY"] = function (url, data, callback) {
                if (jQuery.isFunction(data)) {
                    callback = data;
                    data = undefined;
                }

                return jQuery.ajax({
                    url: url,
                    type: "POST",
                    //contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    data: data,
                    success: callback
                });
                };
        
                $.postBUY('/SendBuyRequest', { StockId: $(this).closest('tr').find('td:eq(0)').text(), UserId: $(this).closest('tr').find('#uid').val(), Price: '1' }, function (data, status, xhr) {
                    alert($(this).closest('tr').find('#uid').val())
                });
                
            });
            
        });
    </script>
</head>

<body>

    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Stock name</th>
                        <th>Owner</th>
                        <th class="text-center">Action</th>
                        <th>Requesting User</th>
                    </tr>
                </thead>
                @foreach (var stock in Model)
                {
                    var index = Model.IndexOf(stock);
                <tr>
                    <td>@stock.StockID</td>
                    <td>@stock.StockName</td>
                    <td>User @stock.UserID</td>
                    <td class="text-center">
                        <a class='btn btn-success btn-xs' id='@index' href='' data-toggle="tooltip" title="This stock belongs to user @stock.UserID"><span class="glyphicon glyphicon-usd"></span> Buy</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Sell</a>
                    </td>
                    <td><input type='text' id='uid' value='' style="width:50px" /></td>
                </tr>
                }
            </table>
        </div>
    </div>


    <div class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
